<ion-header>
  <ion-toolbar color="primary">
  <ion-title>Status</ion-title>
  <ion-icon (click)=" callonresume_main() " class="ion-padding" slot="end" size="large" name="reload-outline">
  </ion-icon>
  <ion-icon (click)="share()" class="ion-padding" slot="end" size="large"  name="share-social-sharp"></ion-icon>

  <ion-icon (click)="presentAlertRadio()" slot="end" size="large" name="ellipsis-vertical-outline"></ion-icon>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment">
    <ion-segment-button value="0">
      Photos
    </ion-segment-button>
    <ion-segment-button value="1">
      Videos
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content color="light">

  <!--tool-->
  <div class="container tool"  *ngIf="checkbox">
    <div class="item"   (click)="downloadtool()" >
      <ion-icon name="arrow-down-circle-outline"></ion-icon>
      <ion-label>Download</ion-label>
    </div>
    <div class="item"  (click)="reposttool()">
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-label>Repost</ion-label>
    </div>
    <div class="item"  (click)="sharetool()">
      <ion-icon name="share-social-outline"></ion-icon>
      <ion-label>Share</ion-label>
    </div>

  </div>

  <ion-slides #slides (ionSlideDidChange)="slideChanged(slides)" [options]="slideConfig">
    <ion-slide>
      <ion-row class="images">
        <ion-col size="6" (press)="tapEvent()" class="image" *ngFor="let image of Photos; index as i; trackBy: trackbydownview">
         <div class="con">
          <ion-checkbox   class="media-selector" style="position: absolute" *ngIf="checkbox"
          (ionChange)="markForDownload($event,image,i)"></ion-checkbox>
        <img  [src]="image.imagescr" (click)="show(image.downview, i, image.imagescr)" />
         </div>
        </ion-col>
      </ion-row>
    </ion-slide>


    <ion-slide>
      <ion-row class="images">
        <ion-col size="6" (press)="tapEvent()" class="image" *ngFor="let video of Videos; index as i;trackBy:trackbydownviewv">
       <div class="con">
        <ion-checkbox class="media-selector" style="position:absolute" *ngIf="checkbox"
        (ionChange)="markForDownload($event,video,i)"         ></ion-checkbox>
      <img [src]=video.videoscr (click)="show(video.downview,i,video.videoscr)" />
       </div>

        </ion-col>
      </ion-row>
    </ion-slide>

  </ion-slides>
</ion-content>
