
<ion-card  >
        <ion-card-header>

        <ion-card-title>If you enjoy this app please rate us</ion-card-title>
        </ion-card-header>

        <ion-card-content color="light">
      <ion-grid  >
        <ion-row>
          <ion-row>
            <ion-col>
            <ion-icon  (click)="toggleZipped1()"   [name]="zipped1 ? 'star-outline' : 'star'"></ion-icon>
            </ion-col>
            <ion-col>
            <ion-icon  (click)="toggleZipped2()"   [name]="zipped2 ? 'star-outline' : 'star'"></ion-icon>
            </ion-col>
            <ion-col>
            <ion-icon  (click)="toggleZipped3()"   [name]="zipped3 ? 'star-outline' : 'star'"></ion-icon>
            </ion-col>
            <ion-col>
            <ion-icon  (click)="toggleZipped4()"   [name]="zipped4 ? 'star-outline' : 'star'"></ion-icon>
            </ion-col>
            <ion-col>
            <a href="https://play.google.com/store/apps/details?id=com.trv.statussaverforwhatsapp" target="_blank">
            <ion-icon name="star-outline"></ion-icon>
            </a>
            </ion-col>
            </ion-row>
        </ion-row>
      </ion-grid>

        </ion-card-content>
</ion-card>
